body {
    background-color: whitesmoke;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

:root{
    --fs-1: .75rem;
    --fs-2: 1rem;
    --fs-3: 1.25rem;
}

h1 {
    font-size: var(--fs-3);
}

h2 {
    font-size: var(--fs-2);
    margin-bottom: 1vh;
}

p {
    font-size: var(--fs-1);
    margin-top: 0vh;
}

header > img {
    display: block;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    max-width: 95vw;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2vh 2vh 2vh 2vh;
    gap: 2vh;
    list-style: none;
    background-color: chocolate;
    border-radius: 3.2vh 1.2vh 3.2vh 1.2vh;
    line-height: 2;
    padding: 0;
}

nav li {
    padding: 1.5vh;
    background-clip: padding-box;
}

nav li:hover {
    background-color: brown;
  
}

nav a {
    text-decoration: none;
    color: wheat;
}



section {
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    margin-bottom: 3vh;
    align-items: center;
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-width: 2vh;
    border-radius: 1vh 1vh 1vh 1vh;
    margin-bottom: 1vh;
    padding: 1vh 0vh 1vh 1vh;
    background-color: beige;
    text-overflow: ellipsis;
    box-shadow: 0.5vh 0.5vh 0.5vh lightgrey;
}

article > img {
    max-width: 30vh;
    margin-bottom: 2vh;
}

button {
    text-decoration: none;
    color: transparent;
    background-color: transparent;
    border: none;
    margin-bottom: 1vh;

}

button a{
    text-decoration: none;
    color: white;
    background-color: cadetblue;
    border-style: none;
    border-width: 0vh;
    margin: 1vh;
    padding: 1vh 2vh 1vh 2vh;
    text-align: center;
    border-radius: 2vh 2vh 2vh 2vh;
    font-size: small;
}

button:hover a {
    background-color: brown;
}

#christmas {
    background-image: url(../christmas-trees.jpg);
}

.banner {
    display: flex;
    flex-direction: column;
    gap: 0vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    border: 0.5vh orange;
    border-radius: 1.5h 1.5vh 1.5vh 1.5vh;

}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img {
    max-width: 20vw;
}

@keyframes hover-ani {
    0%{transform: translate(0,0);}
    50%{transform: scale(1.5,0.5) translate(0,2vh);}
    100%{transform: scale(1,1);}
}

main:hover .jumpy{
    animation: hover-ani 2s linear infinite;
}

h2 img {
    height: var(--fs-2);
    padding-right: 2vh;
}




@media (min-width: 40em){
    :root{
      --fs-1: 1rem;
      --fs-2: 1.25rem;
      --fs-3: 1.5rem;
    }

    section {
        flex-wrap: unset;
    }
    .banner {
        flex-direction: row;
        align-items: center;
        gap: 2vh;
    }

    article {
        display: inline;
    }

    article:hover {
        box-shadow: 1vh 1vh 2vh grey;
    }
    
    
    

}