body {
    background-color: beige;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 1rem 1rem 1rem 1rem;
}

:root{
    --fs-1: .75rem;
    --fs-2: 1rem;
    --fs-3: 1.25rem;
}
  
@media (min-width: 30em){
    :root{
      --fs-1: 1.125rem;
      --fs-2: 1.5rem;
      --fs-3: 2rem;
    }

    section {
        flex-wrap: unset;
    }

    article {
        flex: 1;
    }


  
}

h1 {
    font-size: var(--fs-3);
    background-color: transparent;
}

h2 {
    font-size: var(--fs-2);
    background-color: transparent;
}

p {
    font-size: var(--fs-1);
    background-color: transparent;
}

header > img {
    display: block;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

#christmas {
    background-image: url(../christmas-trees.jpg);
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

article {
    flex: 1;
}

footer {
    display: flex;
    align-items: center;
}

footer div {
    flex: 1;
}

footer img {
    width: 40vw;
}

@keyframes hover-ani {
    0%{color: blueviolet;}
    50%{color:chartreuse;}
    100%{color:aqua;}
}

article:hover {
    animation: hover-ani 3s linear;
}

